@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.PhoneInputInput {
  /* The phone number input stretches to fill all empty space */
  flex: 1;
  outline: none;
  padding: 16px 20px;
  /* The phone number input should shrink
	   to make room for the extension input */
  min-width: 0;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
